// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


:root {
    --color-primario: rgb(255, 255, 255);
    --color-secundario: #171716;
    --color-terciario: #FF914B;
}
