<div class="container">
  <Header-Secundario-Componente titulo="HACER PEDIDO"></Header-Secundario-Componente>

  <figure class="logo-container">
    <img src="/logo-la-roca.png" alt="Logo del restaurante" class="logo" />
  </figure>

  <section id="seccionPedidos">
    <p class="instruccion">Escribí tu pedido.</p>

    <section id="seccionInfo">
      <p class="subtitulo">Platillos y bebidas:</p>
      <p class="subtitulo">Cantidad:</p>
    </section>

    <ng-container *ngFor="let pedido of pedidos; let i = index">
      <div class="seccionPedidosInput">
        <input type="text" [(ngModel)]="pedido.nombre" placeholder="Ingresá el nombre del platillo o bebida" name="platillo{{i}}" />
        <div class="select-container">
          <select [(ngModel)]="pedido.cantidad" name="cantidad{{i}}">
            <option *ngFor="let cantidad of [1,2,3,4,5]" [value]="cantidad">{{ cantidad }}</option>
          </select>
          <div class="select-arrow">▼</div>
        </div>
      </div>
    </ng-container>

    <div class="seccionPedidosInput agregar-lineas">
      <button type="button" class="btn-agregar" (click)="agregarLinea()">+</button>
      <p>Agregar líneas</p>
    </div>

    <section id="seccionBotones">
      <button class="btn-principal" (click)="hacerPedido()">Hacer Pedido</button>
      <button class="btn-secundario" (click)="abrirModal()">Ver Menú</button>
    </section>
  </section>

  <div
    class="modal-overlay"
    *ngIf="mostrarImagenGrande"
    (click)="cerrarModal()"
  >
    <div class="modal-contenido">
      <span class="cerrar-btn" (click)="cerrarModal()">&times;</span>
      <img src="menu.png" alt="Menú ampliado" class="imagen-grande" />
    </div>
  </div>

  <Footer-Componente></Footer-Componente>
</div>
