div {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

figure {
  text-align: center;
}

figure img {
  width: 10rem;
  height: 10rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}


p {
  color: var(--color-primario);
}

#seccionInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.seccionPedidoSeleccion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 80%;
}

.seccionPedidoSeleccion input{
  width: 90%;
  height: 2em;
  border: 2.3px solid var(--color-quintario);
}

.seccionPedidoSeleccion select{
  width: 10%;
  height: 2em;
  border-radius: 5px;
  border: 2.3px solid var(--color-quintario);
}


#seccionAgregarLinea{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .7em;
}

#seccionAgregarLinea button {
  padding: 0;
  margin: 0;
  border-radius: 0;
  width: 2.2em;
  height: 2.2em;
  border: 2.3px solid var(--color-quintario);
  font-size: 1em;
  color: var(--color-quintario);
}

#seccionBotones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
