<div>

    <Header-Secundario-Componente titulo="HACER PEDIDO"></Header-Secundario-Componente>

    <img src="/logo-la-roca.png" alt="Logo"/>

    <section id="seccionPedidos">
        <p>Escribí tu pedido</p>
        <p>Platillos y bebidas:</p>
        <section class="seccionPedidos__input">
            <input type="text" placeholder="Ingresá el nombre del platillo o bebida" />
            <select name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </section>

        <section class="seccionPedidos__input">
            <input type="text" placeholder="Ingresá el nombre del platillo o bebida" />
            <select name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </section>

        <section class="seccionPedidos_agregarLinea">
            <button>+</button>
            <p>Agregar líneas</p>
        </section>
    </section>

    <section class="seccionBotones">
        <button>Hacer Pedido</button>
        <button>Ver Menú</button>
    </section>

    <Footer-Componente></Footer-Componente>
</div>