

figure {
  text-align: center;
}

figure img {
  width: 10rem;
  height: 10rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}


p {
  color: var(--color-primario);
}

#seccionInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.seccionPedidoSeleccion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 80%;
}

.seccionPedidoSeleccion input{
  width: 90%;
  height: 2em;
  border: 2.3px solid var(--color-quintario);
}

.seccionPedidoSeleccion select{
  width: 10%;
  height: 2em;
  border-radius: 5px;
  border: 2.3px solid var(--color-quintario);
}


#seccionAgregarLinea{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .7em;
}

#seccionAgregarLinea button {
  padding: 0;
  margin: 0;
  border-radius: 0;
  width: 2.2em;
  height: 2.2em;
  border: 2.3px solid var(--color-quintario);
  font-size: 1em;
  color: var(--color-quintario);
}

#seccionBotones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-contenido {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.imagen-grande {
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
  cursor: pointer;
  object-fit: contain;
}

.cerrar-btn {
  position: absolute;
  top: -30px;
  right: -40px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.modal-overlay {
  animation: fadeIn 0.3s;
}