<div>
  <Header-Secundario-Componente titulo="HACER PEDIDO"></Header-Secundario-Componente>

  <figure class="logo-container">
    <img src="/logo-la-roca.png" alt="Logo del restaurante" class="logo" />
  </figure>

  <main>
    <p id="instruccion">Escribí tu pedido.</p>

    <section id="seccionInfo">
      <p>Platillos y bebidas:</p>
      <p>Cantidad</p>
    </section>
   
    @for (pedido of pedidos; track $index) {
      <section class="seccionPedidoSeleccion">
        <input type="text" [(ngModel)]="pedido.nombre" placeholder="Ingresá el nombre del platillo o bebida" />
        <select [(ngModel)]="pedido.cantidad">
          <option [value]="1">1</option>
          <option [value]="2">2</option>
          <option [value]="3">3</option>
          <option [value]="4">4</option>
          <option [value]="5">5</option>
        </select>
      </section>
    }

    <section id="seccionAgregarLinea">
      <button (click)="agregarLinea()">+</button>
      <p>Agregar Línea</p>
    </section>


    <section id="seccionBotones">
      <button class="btn-principal" (click)="hacerPedido()">Hacer Pedido</button>
      <button class="btn-secundario" (click)="abrirModal()">Ver Menú</button>
    </section>
  </main>

  <div class="modal-overlay" *ngIf="mostrarImagenGrande" (click)="cerrarModal()">
    <div class="modal-contenido">
      <span class="cerrar-btn" (click)="cerrarModal()">&times;</span>
      <img src="menu.png" alt="Menú ampliado" class="imagen-grande" />
    </div>
  </div>

  <Footer-Componente></Footer-Componente>
</div>
