<div>
  <Header-Secundario-Componente
    titulo="HACER PEDIDO"
  ></Header-Secundario-Componente>

  <main>
    <figure class="logo-container">
      <img
        src="logo-la-roca.png"
        alt="Logo del restaurante La Roca"
        class="logo"
      />
    </figure>

    <section id="seccionInfo">
      <h1>¡LISTO!</h1>
      <p>Tu pedido ha sido recibido.</p>
    </section>

    <figure class="comida-container">
      <img
        src="hamburguesa-refresco.png"
        alt="Silueta de un refresco y una hamburguesa"
        class="logo"
      />
    </figure>

    <button routerLink="/">Volver al inicio</button>
  </main>

  <Footer-Componente></Footer-Componente>
</div>
