header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em;
  background-color: var(--color-cuaternario);
  color: var(--color-primario);
}

h1{
  font-size: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: transparent;
  cursor: pointer;
}

#logo {
  height: 4rem;
  width: auto;
}

#regreso {
  width: 4rem;
  height: 4rem;
}

/*Teléfonos*/
@media (max-width: 1200px) {
 
  #logo {
    height: 4rem;
    width: auto;
  }

  #regreso {
    width: 4rem;
    height: 4rem;
  }
}

@media (max-width: 840px) {

  h1{
    font-size: 1.4rem;
  }

  #logo {
    height: 3rem;
    width: auto;
  }

  #regreso {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 480px) {
  #logo {
    height: 2.2rem;
    width: auto;
  }

  #regreso {
    width: 2.8rem;
    height: 2.8rem;
  }
}

@media (max-width: 360px) {
  h1{
    font-size: 1rem;
  }

  #logo {
    height: 2rem;
    width: auto;
  }

  #regreso {
    width: 2.4rem;
    height: 2.4rem;
  }
}