<div>
    <Header-Secundario-Componente titulo="CERRAR CUENTA"></Header-Secundario-Componente>

    <!-- Vista normal -->
    <main *ngIf="!cerrar">
        <img src="logo-la-roca.png" alt="Logo" style="width: 180px; margin: 0 auto;" />

        <section>
            <p>Tocá la factura para cerrar y solicitar la cuenta.</p>
            <p class="large-text">¡Te llevaremos tu cuenta a la mesa!</p>
        </section>

        <div class="circle-wrapper">
            <img src="dollar-icon.png" alt="Campana" draggable="false" />
        </div>

        <section id="seccionBotones">
            <button (click)="mostrarConfirmacion()" >Llamar Mesero</button>
            <button (click)="verMenu()">Ver Menú</button>
        </section>
    </main>

    <!-- Vista de confirmación -->
    <main *ngIf="cerrar">
        <img src="logo-la-roca.png" alt="Logo" style="width: 180px; margin: 0 auto;" />

        <section>
            <p style="color: #00c853; font-size: 1.5rem; font-weight: bold;">¡LISTO!</p>
            <p class="large-text">Tu cuenta está en camino.</p>
        </section>

        <div class="circle-wrapper success">
            <img src="dollar-icon.png" alt="Campana" draggable="false" />
        </div>

        <section id="seccionBotones">
            <button (click)="volverInicio()">Volver al Inicio</button>
        </section>
    </main>

    <Footer-Componente></Footer-Componente>
</div>