<div>
  <header>
    <!-- <img src="persona.png" alt="Persona" draggable="false"/> -->
    <img src="logo.png" alt="Logo" draggable="false" id="logo"/>
    <!-- <img src="opciones.png" alt="Opciones" draggable="false"/> -->
  </header>

  <section id="seccionPresentacion">
    <h1>LA ROCA</h1>
    <img src="hamburguesas.png" alt="Hamburgesa" draggable="false"/>
  </section>

  <section id="seccionBotones">
    <button routerLink="/ver-menu">Ver Menú</button>
    <button routerLink="/llamar-mesero">Llamar Mesero</button>
    <button>Hacer Pedido</button>
    <button>Cerrar Cuenta</button>
    <button>Calificar Nuestro Servicio</button>
  </section>

  <Footer-Componente></Footer-Componente>
</div>
