<div>
    <Header-Secundario-Componente titulo="CALIFICA NUESTRO SERVICIO"></Header-Secundario-Componente>

    <main>
        <img src="logo-la-roca.png" alt="Logo" style="width: 180px; margin: 0 auto;" />

        <section id="seccionCalificacion">
            <div class="area-estrellas">
                <h1>¡CALIFICÁ NUESTRO SERVICIO!</h1>
                <div class="rating">
                    <label *ngFor="let estrella of estrellas;">
                        <input type="checkbox" name="stars" value="estrella" [checked]="formulario.value.calificacion === estrella" (change)="onRatingChange(estrella)" />
                        <span [ngClass]="['icono-borde', estrella <= formulario.value.calificacion ? 'icono-marcado' : 'icono-desmarcado']">★</span>
                    </label>
                </div>
            </div>
            <form [formGroup]="formulario">
                <div class="campo-formulario">
                    <label class="label-input" for="comentario">Comentarios:</label>
                    <textarea id="comentario" formControlName="comentario"
                        placeholder="Tus comentarios son muy valiosos para mejorar nuestro servicio."></textarea>
                </div>
            </form>
        </section>

        <section id="seccionBotones">
            <button (click)="enviarCalificacion()">Calificar</button>
            <button (click)="volverInicio()">Volver al Inicio</button>
        </section>
    </main>

    <Footer-Componente></Footer-Componente>
</div>