<div>
  <header>
    <img src="persona.png" alt="Persona" />
    <img src="logo.png" alt="Logo" />
    <img src="opciones.png" alt="Opciones" />
  </header>

  <section id="seccionPresentacion">
    <h1>La Roca</h1>
    <img src="hamburguesas.png" alt="Hamburgesa" />
  </section>

  <section id="seccionBotones">
    <button>Ver Menú</button>
    <button>Llamar Mesero</button>
    <button>Hacer Pedido</button>
    <button>Cerrar Cuenta</button>
    <button>Calificar Nuestro Servicio</button>
  </section>

  <footer>
    <div id="redes">
      <img src="Instagram.png" alt="Instagram" />
      <img src="Facebook.png" alt="Facebook" />
      <img src="WhatssApp.png" alt="Teléfono" />
    </div>
    <h3>Powered by Order Ease CR</h3>
  </footer>
</div>
