<div>

  <header>
    <img src="/assets/persona.png" alt="Persona">
    <img src="/assets/logo.png" alt="Logo">
    <img src="/assets/opciones.png" alt="Opciones">
  </header>
  
  <section id="seccionPresentacion">
    <h1>La Roca</h1>
    <img src="/assets/hamburguesas.png" alt="Hamburgesa">
  </section>

  <section id="seccionBotones">
    <button>Ver Menú</button>
    <button>Llamar Mesero</button>
    <button>Hacer Pedido</button>
    <button>Cerrar Cuenta</button>
    <button>Calificar Nuestro Servicio</button>
  </section>

  <footer>
    <div id="redes">
      <img src="/assets/iconos/Instagram.png" alt="Instagram">
      <img src="/assets/iconos/Facebook.png" alt="Facebook">
      <img src="/assets/iconos/WhatssApp.png" alt="Teléfono">
    </div>
    <h3>Powered by Order Ease CR</h3>
  </footer>

</div>
