<div>
    <Header-Secundario-Componente titulo="ORDER EASE"></Header-Secundario-Componente>

    <main>
        <section>
            <h1>¡MUCHAS GRACIAS!</h1>
            <div class="logo">
                <img src="/logo-y-eslogan.png" alt="Campana" draggable="false" />
            </div>
            <p>Automatiza pedidos y solicitudes en restaurantes con nuestra app de sistema
                de comandas y atención a la mesa, facilitando una experiencia más eficiente
                y cómoda para tus clientes.</p>
        </section>
    </main>

    <footer>
        <h2>Contáctenos:</h2>
        <div id="redes">
            <img src="Instagram.png" alt="Instagram" draggable="false" />
            <img src="Facebook.png" alt="Facebook" draggable="false" />
            <img src="WhatssApp.png" alt="Teléfono" draggable="false" />
            <img src="Email.png" alt="Email" draggable="false" />
        </div>
        <section id="seccionBotones">
            <button (click)="volverInicio()">Volver al Inicio</button>
        </section>
        <h3>Powered by Order Ease CR</h3>
    </footer>
</div>