<div>
  <Header-Secundario-Componente titulo="MENÚ"></Header-Secundario-Componente>

  <main>
    <img src="menu.png" alt="Menú" draggable="false" (click)="abrirImagen()" />
    
    <section id="seccionBotones">
      <button routerLink="/llamar-mesero">Llamar Mesero</button>
      <button routerLink="/hacer-pedido">Hacer Pedido</button>
    </section>
  </main>

  <div
    class="modal-overlay"
    *ngIf="mostrarImagenGrande"
    (click)="cerrarImagen()"
  >
    <div class="modal-contenido">
      <span class="cerrar-btn" (click)="cerrarImagen()">&times;</span>
      <img src="menu.png" alt="Menú ampliado" class="imagen-grande" />
    </div>
  </div>


  <Footer-Componente></Footer-Componente>
</div>
